<?xml version="1.0" encoding="utf-8"?>

<!-- Aby uzyskać więcej informacji o używaniu przekształcenia web.config, odwiedź stronę https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    W poniższym przykładzie transformacja „SetAttributes” zmieni wartość 
    parametru „connectionString” na „ReleaseSQLServer” tylko wtedy, gdy 
    lokalizator „Match” znajdzie atrybut „name” o wartości „MyDB”.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      W poniższym przykładzie transformacja „Replace” zastąpi całą sekcję 
      <customErrors> w pliku web.config.
      W węźle <system.web> znajduje się tylko jedna sekcja 
      customErrors, dlatego nie trzeba używać atrybutu „xdt:Locator”.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>